In [6]:
import csv
import pandas as pd


class Budaya:
    def __init__(self, tipe, daerah, link):
        # nama = self.nama
        self.tipe = tipe
        self.daerah = daerah
        self.link = link

    # def __repr__(self):
    #     return '{tipe:'+self.tipe', daerah:'+self.daerah', link:'+self.link+"}"


def IMPOR(filename):
    budaya_dict = {
    }
    with open(filename, newline='') as csv_file:
        file = csv.reader(csv_file)
        for row in file:
            budaya_dict[row[0]] = Budaya(row[1], row[2], row[3])
    return budaya_dict


print("#####\nBudayaKB Lite v1.0\nKalau bukan kita yang melestarikan budaya, siapa lagi?\n#####")

#####
BudayaKB Lite v1.0
Kalau bukan kita yang melestarikan budaya, siapa lagi?
#####

In [9]:
df = pd.read_csv('')
df.columns = ['nama','jenis','asal','link']

Empty DataFrame
Columns: [a]
Index: []